version: 2
registries:
  tiltakspenger-libs:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/tiltakspenger-libs
    username: x-access-token
    password: ${{ secrets.READER_TOKEN }}
    
updates:
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    cooldown:
      default-days: 7
    registries:
      - tiltakspenger-libs
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
